 <ion-header> 
  <div style="background-image: url('../assets/imgs/xuexi.png');
  background-repeat: no-repeat; width: 100%; height: 180px; background-size: 100%">
  </div>
  <ul class="navList" scroll="false">
    <li *ngFor="let item of arr;let idx=index;"(click)="isClick(idx)" [class.first]="isActive==idx">{{item}}</li>
  </ul>
</ion-header> 
<ion-content>   
  <div [ngSwitch]="isActive">
    <div *ngSwitchCase="0">
        <ul>
            <li *ngFor="let xuexi1 of xuexi1_li;let id = index">
                <div style="overflow: hidden;" >
                    <div class="fabiao" style="width:20%">
                      <img src="{{xuexi1.src}}" alt="">
                    </div>
                    <div class="fabiao"  style="width:55%">
                      <h6>{{xuexi1.name}}<small style="color:grey;">{{xuexi1.time}}</small></h6>
                      <p>{{xuexi1.content}}</p>
                      <img src="{{xuexi1.img}}" alt="">
                    </div>
                    <div class="fabiao"  style="width:25%">
                      <button ion-button type="button" id="guanzhu" (click)="guanzhuChange(id)" style="height:30px;background-color:lightcoral !important;">+关注</button>                         
                    </div>
                  </div>
                  <hr/>
            </li>
        </ul>

      

    </div>
    <div *ngSwitchCase="1">
        <ul>
            <li *ngFor="let xuexi2 of xuexi2_li;let id = index">
                <div style="overflow: hidden;" >
                    <div class="fabiao" style="width:20%">
                      <img src="{{xuexi2.src}}" alt="">
                    </div>
                    <div class="fabiao"  style="width:55%">
                      <h6>{{xuexi2.name}}<small style="color:grey;">{{xuexi2.time}}</small></h6>
                      <p>{{xuexi2.content}}</p>
                      <img src="{{xuexi2.img}}" alt="">
                    </div>
                    <div class="fabiao"  style="width:25%">
                      <button ion-button type="button" id="guanzhu" (click)="guanzhuChange(id)" style="height:30px;background-color:lightcoral !important;">+关注</button> 
                    </div>
                  </div>
                  <hr/>
            </li>
        </ul>
    </div>
    <div *ngSwitchCase="2">
        <ul>
            <li *ngFor="let xuexi3 of xuexi3_li;let id = index">
                <div style="overflow: hidden;" >
                    <div class="fabiao" style="width:20%">
                      <img src="{{xuexi3.src}}" alt="">
                    </div>
                    <div class="fabiao"  style="width:55%">
                      <h6>{{xuexi3.name}}<small style="color:grey;">{{xuexi3.time}}</small></h6>
                      <p>{{xuexi3.content}}</p>
                      <img src="{{xuexi3.img}}" alt="">
                    </div>
                    <div class="fabiao"  style="width:25%">
                      <button ion-button type="button" id="guanzhu" (click)="guanzhuChange(id)" style="height:30px;background-color:lightcoral !important;">+关注</button>                       
                    </div>
                  </div>
                  <hr/>
            </li>
        </ul>
      </div>
  </div>
</ion-content>
