<!DOCTYPE html>
<html>
  <head>
  <title></title>
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css"/>
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css">
   </head>
  <body>
  
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">二筒</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          
        </div>
      </div> 
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">用户分析</a></li>
            <li><a href="#">动态分析</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="#">用户管理</a></li>
            <li><a href="#">动态管理</a></li>
            <li><a href="#">评论管理</a></li>
            <li><a href="#">消息管理</a></li>
          </ul>
        </div>
      </div>
    </div>

    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/bootstrap.min.js" type="text/javascript" charset="utf-8"> </script>
  </body>
</html>
