<!DOCTYPE html>
<html>
<head>
<title></title>
<link href="/stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="/stylesheets/login.css" rel="stylesheet" type="text/css">
</head>
<body>
  <div class="col-md-3 col-md-offset-2">
  <h2 style="font-family:'Courier New', Courier, monospace;text-align: center; color: rgb(195, 118, 198)">二筒后台管理</h2>
  <br>
  <form method="post">
    <input class="form-control" name="username" placeholder="账户名" required="" type="text"><br>
    <input class="form-control" name="password" placeholder="账户密码" required="" type="password"><br>
    <input class="form-control" id="submit" value="登陆" type="submit" style="background-image:url(../images/logo.jpg)">
  </form>
  </div>
  <script src="/javascripts/jquery.js"></script>
  <script src="/javascripts/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>
