<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>平台信息</title>
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css"/>
    <link rel="stylesheet" href="/stylesheets/index.css">
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/tab.css" rel="stylesheet" type="text/css">
    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
    <% include header.ejs %>
    <% include tab.ejs %>
    <div style="float:left">
        <h4 style="color:lightcoral;padding-left: 40px">平台信息</h4>
        <div style="padding-left:100px">
            <br>
            <p>平台名称:二筒</p>
            <p>项目目标：为广大用户提供释放自我的平台</p>
            <p>开发日期：2018-12-1</p>
            <p>联系人：码到成功小组</p>
            <p>固定电话:xxx</p>
            <p>开发地：河北师范大学软件学院</p>
        </div>
    </div>
</html>