.up1{
  font-size:20px;
  margin: 10px;
  color: blueviolet;
}
.up{
  margin-left:180px;
  margin-top:10px;
}
.col-md-2{
  color:linen;
  display: inline-block;
  width:160px;
  height:100px;
  text-align:center;
  background-image: url(/images/logo.jpg);
  margin: 0%;

}
#container{
  width: 600px; 
  height: 380px;
  margin-left: 31%;
}
#only{
  display: none;
}
rect.highcharts-background{
    fill:ghostwhite;
}
tspan{
  font-size: 16px; 
}
text.highcharts-credits{
  display: none;
}
text.highcharts-title tspan{
  font-size: 20px;
}