body{
    background-color:ghostwhite;
}
.u li{
    list-style: none;
    height:35px;
}
.u{
    text-align: center;
    float: left;
    margin-left: 15px;
    
}
th{
    text-align: center;
}
td{
    text-align: center;
    padding:10px;
}
.top td{
    text-align: center;
}
