<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>用户管理</title>
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css"/>
    <link rel="stylesheet" href="/stylesheets/index.css">
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/tab.css" rel="stylesheet" type="text/css">
    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
    <% include header.ejs%>
    <% include tab.ejs%> 
    <div style="float:left;">  
        <h4 style="color:lightcoral;padding-left: 40px">举报管理</h4>              
        <table width='100%' cellpadding='5' style="margin-left:100px;">
            <tr>                           
                <th>举报ID</th>
                <th>被举报者</th>
            </tr>
            <% for(var item in items){ %>
                <tr class="top" id="<%= items[item].uid %>">
                    <td><%= items[item].rid %></td>  
                    <td><%= items[item].uid %></td>                        
                    <td>
                        <button onclick="del('<%= items[item].uid %>')">删除</button>
                        <button><a href="#">修改</a></button>
                    </td>                    
                </tr>
            <% } %>
        </table> 
    </div> 
</body>
</html>