<ul class="u">
    <li><h4><a href="/index">首页</a></h4></li>
    <li>
        <h4><a href="/user">用户管理</a></h4>
    </li>
    <li>
        <h4><a href="/movement">动态管理</a></h4>                   
    </li>
    <li>
        <h4><a href="/comment">评论管理</a></h4>
    </li>
    <li>
        <h4><a href='/type'>话题管理</a></h4>
    </li>
    <li>
        <h4><a href='/report'>举报管理</a></h4>
    </li>
    <li>
        <h4><a href='/supergirl'>账户管理</a></h4>
    </li>
    <li>
        <h4><a href='/message'>平台信息</a></h4>
    </li>
</ul>