page-information {
    
    img{
        width:10%;
        float: right;
    }
    ion-icon{
        font-size: 35px;
        float: right;
    }
    h2{
        float: left;
    }
    span{
        float: right;
    }
}
