page-contact {
    ion-icon{
        font-size:30px;
    } 
    ul li{
        float: left;
        padding-top: 18%;
        padding-left:19%; 
        list-style:none;       
    }
    ul{
        padding:0;
        margin:0;
    }
    .chats{
        padding-left: 10%;
        padding-right: 10%;
        padding-top:12%;       
        ion-item{
            border-radius:40px;

        }
    }
}
