page-contact {
    ion-icon{
        font-size:30px;
    } 
    ul li{
        float: left;
        padding-top: 20%;
        padding-left:16%; 
        list-style:none;
        border:1px solid red;
        
    }
   
}
