<div class="full-container">
    <div class="grid-x">
        <div class="cell small-1 medium-2 large-3">&nbsp;</div>

        <div class="cell small-10 medium-8 large-6" id="article-content">
            
        </div>
        <div class="cell small-1 medium-2 large-3">&nbsp;</div>
        
    </div>
</div>
<script>
    function set_article_content(a) {
        var html = `
            <h3>${a.a_title}</h3>
            <p style="font-size: 86%; color: #838383;">${a.a_keywords}</p>
            <div style="border-top: solid 0.05rem #e2e2e2;">
                <p>
                    ${a.a_content}
                </p>
            </div>
        `;
        document.querySelector('#article-content').innerHTML = html;
    }
    
    window.onpageshow = function() {
        
        var pathinfo = location.pathname;
        var path_split = pathinfo.split('/').filter(p => p.length > 0);
        var aid = 0;
        if (path_split.length > 0) {
            aid = path_split[path_split.length-1];
        }
        raj.get({
            url : `${api_host}/article/get/${aid}`,
            success : function(xr) {
                if (xr.status == 0) {
                    set_article_content(xr.article);
                } else {
                    alert(xr.errinfo);
                }
            }
        });
    };

</script>