<div>
  <h1>话题管理</h1>
</div>
<hr>

<div>
<h3>搜索条件</h3>
<input type="text" placeholder="请输入要搜索的话题">
<input type="text" placeholder="请输入起始的时间">
状态
</div>

<h3>话题信息</h3>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>话题编号</th>
        <th>话题名称</th>
        <th>编写时间</th>
        <th>状态</th>
        <th>操作</th>
      </tr>
    <tbody>
      <tr>
        <td>xx</td>
        <td>xx</td>
        <td>xx</td>
        <td>xx</td>
        <td>查看 删除 发布 修改</td>
      </tr>
    </tbody>
  </table>
</div>



