<h1>用户分析</h1>
<p>用户增长</p>
<hr>
<p>本页根据昨日数据来计算</p>

<div>
  <h3>
    昨日核心指标
  </h3>
  <div>
    <div class="col-xs-5"><p>新注册用户<p><p>10</p></div>
    <div class="col-xs-5"><p>累计注册</p><p>60</p></div>
  </div>
</div>
<hr>

<div id="date" class="h3"></div>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr><th>时间</th><th>新注册用户</th></tr>
    </thead>
    <tbody>
      <tr><td>xx</td><td>xx</td></tr>
      <tr><td>xx</td><td>xx</td></tr>
    </tbody>
  </table>
</div>
        
