<div>
<h1>用户管理</h1>
 用户信息
</div>
<hr>

<div>
  <div>搜索条件</div>
  <div>
    <input type="number" placeholder="输入手机号查找">
    <button>搜索</button>
  </div>
</div>
  <hr>

<h3>用户列表</h3>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>用户头像</th>
      <th>昵称</th>
      <th>手机号</th>
      <th>性别</th>
      <th>注册时间</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
  <tr>
    <td>xx</td>
    <td>xx</td>
    <td>xx</td>
    <td>xx</td>
    <td>xx</td>
    <td>xx</td>
  </tr>
  </tbody>

  </table>
</div>

